@font-face {
    font-family: "Oswald";
    src: url("../fonts/OswaldRegular.eot"); /* IE9 */
    src: url("../fonts/OswaldRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/OswaldRegular.woff") format("woff"), /* chrome, firefox */
    url("../fonts/OswaldRegular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/OswaldRegular.svg#Oswald") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


